
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
 font-family: 'Open Sans', 'Sans-serif';
}

th{
    background: #E8E8E8;
    font-weight: bold;
}

td, th{
    border-color: #DCDCDC;    
    padding: 5px;
}

pre, code{
    font-family: 'Fira Code';
    font-family: 'Fira Code';    
    background: whitesmoke;    
    padding: 0 5px;
}

pre{   
    line-height: 1.5em;
    padding: 10px 10px 10px 20px;
    position: relative;
    width: calc(100% - 10px - 20px);
    overflow-x: auto;
    font-size: 14px;
}

pre::before{
    content: " ";
    width: 10px;
    display: block;
    background: darkgrey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}